.cores label::after {
	content: "";
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.cores label[for=verde]::after {
	background-color: #3c6;
	left: 0;
}

.cores label[for="rosa"]::after {
	background-color: #f66;
	left: 60px;
}

.cores label[for="azul"]::after {
	background-color: #66f;
	left: 120px;
}

.cores input:checked + label::after {
	border: 6px solid rgba(0,0,0,0.3);
}

.cores label::after {
	box-sizing: border-box;
}

.cores input[type="radio"] {
	display: none;
}

.cores input:not(:checked) + label img {
	display: none;
}

.cores label::after {
	position: absolute;
	top: 30px;
}

.cores {
	position: relative;
	padding-top: 90px;
}